<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="./assets/pexels-pixabay-417173.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="text-center">Card title</h5>
          <p class="text-center">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="button">Button</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="./assets/pexels-pixabay-326058.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="text-center">Card title</h5>
          <p class="text-center">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="button">Button</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <img src="./assets/pexels-tobias-bjørkli-2113562.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="text-center">Card title</h5>
          <p class="text-center">This is a wider card with supporting text below as a natural lead-in to additional content. This is a wider card with supporting text below as a natural lead-in to additional content. </p>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="button">Button</button>
        </div>
      </div>
    </div>
  </div>