<div class="container mt-5">
    <div class="row">
        <h1>Fale Conosco</h1>
    </div>
    <!--NOME-->
    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <label for="" class="form-label"></label>
                <input type="name" class="form-control" name="" id="" aria-describedby="emailHelpId"
                    placeholder="Digite seu nome">
                <small id="nameHelpId" class="form-text text-muted">Nome</small>
            </div>
        </div>
    </div>
    <!--E-MAIL-->
    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <label for="" class="form-label"></label>
                <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId"
                    placeholder="Digite seu e-mail">
                <small id="emailHelpId" class="form-text text-muted">E-mail</small>
            </div>
        </div>
    </div>
    <!--ASSUNTO-->
    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <label for="" class="form-label"></label>
                <input type="text" name="" id="" class="form-control" placeholder="Digite o assunto" aria-describedby="helpId" input style="height: 150px">
                <small id="helpId" class="text-muted">Assunto</small>
            </div>
        </div>
    </div>
    <!--BOTÃO-->
    <div class="row">
        <div class="col-6">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </div>
</div>